*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

#root{
  display: flex;
}

.conteudoLateralEsquerda,
.conteudoCentral,
.conteudoLateralDireita{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 30vw;
}

.conteudoLateralEsquerda{
  background-color: red;
}

.conteudoCentral{
  background-color: blue;
}

.conteudoLateralDireita{
  background-color: yellow;
}